body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  height: 100vh;
  overflow: hidden;
}

.control-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-file {
  margin: 0 1em;
  background-color: #fff;
  color: #222;
  padding: 0.5em 0.8em;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
}

.canvas-container {
  display: flex;
}

canvas {
  outline: 1px solid #39f;
}
